/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @Modified  Laurent CLAUDE http://www.Mail2Voice.org
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @Copyright Copyright (C) 2011 Mail2Voice.org. All rights reserved.
* @license   GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
body {
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address {
	margin: 0.35em 0 0.8em 0;
	padding: 0;
}
fieldset {
	padding: .5em;
}
small {
	font-size: .85em;
}
sup {
	font-size: .8em;
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
	cursor: help;
}
pre {
	background: #FFFFD5;
	font-family: "Courier New",Courier,monospace;
	padding: 1em;
	border-left: 5px solid #404040;
}
blockquote {
	font-style: italic;
	min-height: 45px;
	color: #008e4f;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.4em;
	color: #000000;
}
h2 {
	font-size: 1.3em;
	color: #042968;
}
h3 {
	font-size: 1.2em;
	color: #042968;
}
h4 {
	font-size: 1.1em;
	color: #042968;
}
h5, h6 {
	font-size: 1em;
	font-weight: bold;
	color: #042968;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0.8em 0 0.3em 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
	color: #008e4f;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	margin: 0.3em 0 0.3em 1.6em;
	padding: 0;
}
ol li {
	margin: 0.3em 0 0.3em 2em;
	padding: 0;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
div.jsn-modulescontainer2 div.jsn-modulecontainer {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 div.jsn-modulecontainer {
	float: left;
	width: 33.3%;
}
div.jsn-modulescontainer4 div.jsn-modulecontainer {
	float: left;
	width: 24.975%;
}
div.jsn-modulescontainer5 div.jsn-modulecontainer {
	float: left;
	width: 19.98%;
}
div.jsn-modulescontainer6 div.jsn-modulecontainer {
	float: left;
	width: 16.65%;
}
div.jsn-modulescontainer {
	padding: 10px 5px;
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	padding: 5px 10px 5px 80px;
}
div.jsn-modulescontainerlolo {
	padding: 5px 5px;
}
div.jsn-modulescontainerlolo div.jsn-modulecontainerlolo_inner {
	padding: 5px 10px;
}
div.jsn-modulescontainer2 #jsn-pos-user1,
div.jsn-modulescontainer2 #jsn-pos-user2,
div.jsn-modulescontainer2 #jsn-pos-user3,
div.jsn-modulescontainer2 #jsn-pos-user4,
div.jsn-modulescontainer2 #jsn-pos-user5,
div.jsn-modulescontainer2 #jsn-pos-user6,
div.jsn-modulescontainer2 #jsn-pos-user7
div.jsn-modulescontainer2 #jsn-pos-lolo1,
div.jsn-modulescontainer2 #jsn-pos-lolo2,
div.jsn-modulescontainer2 #jsn-pos-lolo3 {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 #jsn-pos-user5,
div.jsn-modulescontainer3 #jsn-pos-user6,
div.jsn-modulescontainer3 #jsn-pos-user7,
div.jsn-modulescontainer3 #jsn-pos-lolo1,
div.jsn-modulescontainer3 #jsn-pos-lolo2,
div.jsn-modulescontainer3 #jsn-pos-lolo3 {
	float: left;
	width: 33.3%;
}
#jsn-usermodules1 div.jsn-modulecontainer,
#jsn-usermodules2 div.jsn-modulecontainer,
#jsn-usermodules3 div.jsn-modulecontainer {
	float: none;
	width: auto;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background: url("../images/backgrounds/back.jpg") no-repeat fixed left top #c9c8db;
	
}
#jsn-page {
	background-color: #fff;
	color: #042968;
	border-left: 0px solid #404040;
	border-right: 0px solid #404040;
	width: 960px;
	margin: 0 auto;
}
#jsn-lolo {
	background-color: transparent;
	color: #042968;
	width: 960px;
	margin: 0 auto;
}
.jsn-leading {
	padding: 15px;
	margin: 0 0 20px 0;
	border: 1px solid #008e4f;
	background: url("../images/fred_curieux.png")  95% 100% no-repeat;
}

/* ----- STICKLEFT / STICKRIGHT ----- */
div[id*=jsn-pos-stick-] {
	position: fixed;
}
div[id*=jsn-pos-stick-left] {
	left: 0;
}
div[id*=jsn-pos-stick-right] {
	right: 0;
}
#jsn-pos-stick-leftmiddle,
#jsn-pos-stick-rightmiddle {
	visibility: hidden;
}
#jsn-pos-stick-leftbottom,
#jsn-pos-stick-rightbottom {
	bottom: 0;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header {
	border-top: 0px solid #404040;
	position: relative;
	overflow: hidden;
	margin-top: 0px;
}
#jsn-logo a {
	line-height: 100%;
	/*padding: 5px 20px;
	float:right;*/
}
#jsn-headerright {
	position: absolute;
	top: 23px;
	right: 10px;
}
#jsn-headerright #jsn-pos-top {
	float: right;
}
#jsn-pos-top form {
	margin: 4px 0;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	background-color: #fffbed;
	color: #f2f2f2;
	padding: 0;
	border-bottom: 12px solid #fff;
	position: relative;
	z-index: 89;
}
#jsn-pos-mainmenu {
	float: right;
	margin: 3px 0 0 1px;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-pos-toolbar div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}
#jsn-pos-toolbar form {
	margin: 0;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top {
	color: #D4D4D4;
	border-bottom: 5px solid #404040;
	background: #595959 url(../images/backgrounds/bg-promo.jpg) repeat-x left top;
}
#jsn-content-top h3.jsn-moduletitle {
	color: #fff;
}
#jsn-pos-promo-left div.jsn-modulecontainer,
#jsn-pos-promo-right div.jsn-modulecontainer {
	padding: 18px 12px;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content,
#jsn-content_inner,
#jsn-content_inner1,
#jsn-content_inner2,
#jsn-content_inner3,
#jsn-content_inner4,
#jsn-content_inner5,
#jsn-content_inner6,
#jsn-content_inner7,
#jsn-maincontent,
#jsn-centercol,
#jsn-pos-innerleft,
#jsn-leftsidecontent {
	position: relative;
	background: #ffffff;
}
#jsn-content {
	overflow: hidden;
	/*padding-top: 15px;*/
	border-top: 0px solid #b3b3b3;
}
div.jsn-hasleft #jsn-content_inner {
	background: #E5E5E5;
	border-right : 1px solid #b3b3b3;
}
div.jsn-hasright #jsn-content_inner2 {
	background: #E5E5E5;
	border-left : 1px solid #b3b3b3;
}
div.jsn-hasinnerleft #jsn-content_inner4 {
	background: url(../images/border.png) right top repeat-y;
}
div.jsn-hasinnerright #jsn-content_inner6 {
	background: url(../images/border.png) left top repeat-y;
}
#jsn-leftsidecontent_inner,
#jsn-rightsidecontent_inner,
#jsn-pos-innerleft_inner,
#jsn-pos-innerright_inner {
	padding: 5px;
}
#jsn-leftsidecontent div.jsn-modulecontainer,
#jsn-rightsidecontent div.jsn-modulecontainer,
#jsn-pos-innerleft div.jsn-modulecontainer,
#jsn-pos-innerright div.jsn-modulecontainer {
	margin: 8px 10px;
}
#jsn-leftsidecontent div[class*=box-].jsn-modulecontainer,
#jsn-rightsidecontent div[class*=box-].jsn-modulecontainer,
#jsn-pos-innerleft div[class*=box-].jsn-modulecontainer,
#jsn-pos-innerright div[class*=box-].jsn-modulecontainer {
	margin: 8px 5px;
}
#jsn-leftside-middle.jsn-positionscontainer2 div.jsn-modulecontainer,
#jsn-rightside-middle.jsn-positionscontainer2 div.jsn-modulecontainer {
	margin-top: 0;
	margin-bottom: 0;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-pos-left-2,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-pos-right {
	float: left;
	width: 49.95%;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-pos-left,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-pos-right-2 {
	float: right;
	width: 49.95%;
}
#jsn-centercol_inner {
	padding: 0 0px;
	margin: 15px 10px 15px 0;
	background: #fffbed;
}
#jsn-mainbody {
	padding: 1.2em;
}
#jsn-pos-breadcrumbs {
	padding: 0.6em 1em;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-mainbody-content,
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules1,
#jsn-usermodules2 {
	/*background: url(../images/dot.png) repeat-x left bottom;*/
}
#jsn-usermodules1_inner_grid2,
#jsn-usermodules2_inner_grid2 {
	width: 100%;
	background: url(../images/dot.png) repeat-y 50% top;
}
#jsn-pos-banner {
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}

/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	border-top: 0px solid #404040;
	border-bottom: 0px solid #404040;
	background: #042968;
	color: #fff;
}
#jsn-content-bottom  a{
	color: #fff;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	background-color: #fff;
	font-size: 0.9em;
	color: #042968;
}
#jsn-footer a {
	text-decoration: none;
}
#jsn-footer a:hover {
	text-decoration: underline;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-footerleft {
	float: left;
	width: 49.95%;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-footerright {
	float: right;
	width: 49.95%;
}
#jsn-footer div.jsn-modulecontainer_inner,
#jsn-footer #jsn-brand {
	margin: 5px 10px;
}
#jsn-footer #jsn-brand {
	text-align: right;
}
#jsn-copyright {
	text-align: center;
	padding: 5px 0;
}
#jsn-copyright a {
	font-size: 0.8em;
	color: #366999;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-right {
	float: right;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.content-center {
	text-align: center;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	border: 1px solid #e5e5e5;
	padding: .8em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
.text-highlight {
	padding: .2em .5em;
	background: #c9c8db;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap:first-letter,
.text-dropcap :first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	background: url(../images/dot.png) repeat-x center left;
	padding: 0.5em 0;
	border: none;
}
hr.line-solid {
	
}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	text-decoration: underline;
}
.link-action:hover {
	background-color: #009aca;
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	color: #000;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
}
ul.list-arrow.arrow-red li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 0;
}
ul.list-arrow.arrow-blue li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 -86px;
}
ul.list-arrow.arrow-green li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 -172px;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	border: 1px solid #e5e5e5;
	padding: 3px;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
span.jsn-menudescription {
	font-weight: normal;
	font-size: 1.0em;
	color:#008e4f;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	font-size: 2.2em;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	/*border-right: 0px solid #404040;*/
	background-color: #fffbed;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a {
	display: block;
	color: #042968;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-right: 0px solid #000;
	cursor: pointer;
	padding: 0px 0.7em;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a span {
	display: block;
	line-height: 16px;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a span.separator,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menutitle,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	padding: 0;
	background: none;
}
/* ----- RICH MENU STYLE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	display: none;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
	line-height: 1.5em;
	padding-top: 2px;
	font-size: 0.6em;
	float: right;
}
/* ----- 1st LEVEL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul {
	position: absolute;
	width: 185px;
	left: -999em;
	margin: 0;
	padding: 0;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul li {
	margin: 0;
	width: 185px;
	border: none;
	position: relative;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	display: block;
	padding: 5px 0 5px 10px;
	font-size: 0.9em;
	font-weight: normal;
	background: none;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul li a span {
	padding-left: 0;
	background: none;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul ul {
	margin-left: 184px;
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent li.parent a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent li.parent li.parent a {
	background: url(../images/icons/icons-arrow.png) no-repeat right -338px;
	padding-right: 16px;
}
/* ----- CLEAR PARENT ITEMS / REMOVE ARROW FROM ITEMS DON'T HAVE SUBLEVEL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent li.parent ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.parent li.parent li.parent li.parent ul a {
	background: none;
	padding-right: 10px;
}
/* ----- HOVER STATE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover a {
	background-color: #fffbed;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover a {
	color: #008e4f;
	text-decoration: none;
}
/* ----- CLEAR HOVER STATE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover ul a {
	color: #D9D9D9;
	background-color: transparent;
}
/* ----- ACTIVE STATE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active a {
	background-color: #fffbed;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active li.active a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active li.active li.active a {
	font-weight: bold;
	color: #008e4f;
}
/* ----- CLEAR ACTIVE STATE / MAKE NON-ACTIVE ITEM NORMAL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active li.active ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.active li.active li.active li.active ul a {
	color: #D9D9D9;
	font-weight: normal;
	background-color: transparent;
	font-size: 2.6em;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li:hover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover ul {
	left: auto;
	right: auto;
}
/* ----- CLEAR ROLLOVER STATE / HIDE SUB-MENU OF NON-SELECTED MENU ITEM ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li:hover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover ul ul,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover ul ul {
	left: -999em;
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li {
	clear: both;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-treemenu {
	border-top: 1px dotted #b3b3b3;
}
div.jsn-modulecontainer ul.menu-treemenu,
div.jsn-modulecontainer ul.menu-treemenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
div.jsn-modulecontainer ul.menu-treemenu li {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}
div.jsn-modulecontainer ul.menu-treemenu li a {
	display: block;
	border-bottom: 1px dotted #b3b3b3;
	color: #404040;
	text-decoration: none;
	padding: 5px;
	cursor: pointer;
}
div.box-grey ul.menu-treemenu li a {
	color: #d9d9d9;
}
ul.menu-treemenu li a span,
div.jsn-modulecontainer ul.menu-treemenu ul li a span {
	display: block;
	background: url(../images/icons/icons-base.png) left -343px no-repeat;
	padding-left: 16px;
}
div.jsn-modulecontainer ul.menu-treemenu li a span.separator,
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menutitle,
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	padding: 0;
	background: none;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu li a {
	padding: 6px 0 6px 3px;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu ul li a {
	padding: 5px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	color: #595959;
	display: block;
}
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li {
	margin-left: 1em;
	float: none;
	width: auto;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	border-bottom: none;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active li.active a {
	font-weight: bold;
}
/* ----- CLEAR ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active li.active ul a {
	font-weight: normal;
}
/* ----- CURRENT / HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a:hover,
div.jsn-modulecontainer ul.menu-treemenu li a.current {
	background-color: #d9d9d9;
}
div.box-blue ul.menu-treemenu li a:hover,
div.box-blue ul.menu-treemenu li a.current {
	background-color: #d4eaf5;
}
div.box-yellow ul.menu-treemenu li a:hover,
div.box-yellow ul.menu-treemenu li a.current {
	background-color: #f5f5d4;
}
div.box-green ul.menu-treemenu li a:hover,
div.box-green ul.menu-treemenu li a.current {
	background-color: #e2f5d4;
}
div.box-grey ul.menu-treemenu li a:hover,
div.box-grey ul.menu-treemenu li a.current {
	background-color: #404040;
	color: #fff;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.menu-divmenu li {
	display: inline;
	margin: 0;
	border-right: 1px solid #B3B3B3;
}
ul.menu-divmenu li.last {
	border-right: none;
}
ul.menu-divmenu li a {
	display: inline-block;
	color: #000;
	padding: 0 0.8em;
}
ul.menu-divmenu li.first a {
	padding-left: 0;
}
ul.menu-divmenu li.last a {
	padding-right: 0;
}
ul.menu-divmenu li a:hover {
	text-decoration: underline;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	display: inline;
	margin: 0;
	padding: 0 5px;
}
ul.menu-topmenu li a {
	display: inline-block; /* Fix IE8 issue */
	color: #000000;
	padding: 0;
}
ul.menu-topmenu li a:hover {
	text-decoration: underline;
}
ul.menu-topmenu li a span {
	display: block;
	line-height: 16px;
}
/* ============================== MODULE STYLES ============================== */
div.jsn-middle div.jsn-modulecontent {
	padding-top: 3px;
}
h3.jsn-moduletitle {
	margin: 0;
	color: #fff;
	font-size: 1.6em;
}
/* lettrine sur titre de module. Ne marche pas avec Cufont !
h3.jsn-moduletitle span:first-letter {
	font-size : 3em;
}*/
h3.jsn-moduletitle span {
	display: block;
}
h3.jsn-moduletitle span.jsn-moduleicon {
	line-height: 16px;
}
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	font-weight: normal;
	font-size: 0.9em;
	color: #B8B8B8;
	background: none !Important;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
div[class*=box-].jsn-modulecontainer div.jsn-top {
	height: 2px;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-top_inner {
	height: 15px;
	width: 15px;
	margin-left: -15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-middle {
	padding: 0 15px 0 0;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-middle_inner {
	padding-left: 15px;
	margin-left: -15px;
	padding-bottom: 1px;
}
div[class*=box-].jsn-modulecontainer div.jsn-bottom {
	height: 22px;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-bottom_inner {
	height: 22px;
	width: 15px;
	margin-left: -15px;
}
/* ----- MODULE BOX BLUE ----- */
div.box-blue div.jsn-top {
	background: url(../images/module-styles/module-box-blue.png) right top no-repeat;
}
div.box-blue div.jsn-top_inner {
	background: url(../images/module-styles/module-box-blue.png) left top no-repeat;
}
div.box-blue div.jsn-middle {
	background: url(../images/module-styles/module-box-blue_m.png) right top repeat-y;
}
div.box-blue div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-blue_m.png) left top repeat-y;
}
div.box-blue div.jsn-bottom {
	background: url(../images/module-styles/module-box-blue.png) right bottom no-repeat;
}
div.box-blue div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-blue.png) left bottom no-repeat;
}
/* ----- MODULE BOX GREEN ----- */
div.box-green div.jsn-top {
	background: url(../images/module-styles/module-box-green.png) right top no-repeat;
}
div.box-green div.jsn-top_inner {
	background: url(../images/module-styles/module-box-green.png) left top no-repeat;
}
div.box-green div.jsn-middle {
	background: url(../images/module-styles/module-box-green_m.png) right top repeat-y;
}
div.box-green div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-green_m.png) left top repeat-y;
}
div.box-green div.jsn-bottom {
	background: url(../images/module-styles/module-box-green.png) right bottom no-repeat;
}
div.box-green div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-green.png) left bottom no-repeat;
}
/* ----- MODULE BOX YELLOW ----- */
div.box-yellow div.jsn-top {
	background: url(../images/module-styles/module-box-yellow.png) right top no-repeat;
}
div.box-yellow div.jsn-top_inner {
	background: url(../images/module-styles/module-box-yellow.png) left top no-repeat;
}
div.box-yellow div.jsn-middle {
	background: url(../images/module-styles/module-box-yellow_m.png) right top repeat-y;
}
div.box-yellow div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-yellow_m.png) left top repeat-y;
}
div.box-yellow div.jsn-bottom {
	background: url(../images/module-styles/module-box-yellow.png) right bottom no-repeat;
}
div.box-yellow div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-yellow.png) left bottom no-repeat;
}
/* ----- MODULE BOX GREY ----- */
div.box-grey div.jsn-top {
	background: url(../images/module-styles/module-box-grey.png) right top no-repeat;
}
div.box-grey div.jsn-top_inner {
	background: url(../images/module-styles/module-box-grey.png) left top no-repeat;
}
div.box-grey div.jsn-middle {
	background: url(../images/module-styles/module-box-grey_m.png) right top repeat-y;
}
div.box-grey div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-grey_m.png) left top repeat-y;
}
div.box-grey div.jsn-bottom {
	background: url(../images/module-styles/module-box-grey.png) right bottom no-repeat;
}
div.box-grey div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-grey.png) left bottom no-repeat;
}
/* ----- CUSTOM BOX STYLE IN SPECIFIC POSITION ----- */
#jsn-content-top div[class*=box-].jsn-modulecontainer,
#jsn-content-top div[class*=box-].jsn-modulecontainer h3.jsn-moduletitle {
	color: #000;
}
div.box-grey,
#jsn-content-top div.box-grey {
	color: #d4d4d4;
}
div.box-grey h3.jsn-moduletitle,
#jsn-content-top div.box-grey h3.jsn-moduletitle {
	color: #FFF;
}
/* ----- MODULE BOX GREY PROMO----- */
/*div.box-grey-promo div.jsn-top {
	background: url(../images/module-styles/module-box-grey.png) right top no-repeat;
}
div.box-grey-promo div.jsn-top_inner {
	background: url(../images/module-styles/module-box-grey.png) left top no-repeat;
}
div.box-grey-promo div.jsn-middle {
	background: url(../images/module-styles/module-box-grey_m.png) right top repeat-y;
}
div.box-grey-promo div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-grey_m.png) left top repeat-y;
}
div.box-grey-promo div.jsn-bottom {
	background: url(../images/module-styles/module-box-grey.png) right bottom no-repeat;
}
div.box-grey-promo div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-grey.png) left bottom no-repeat;
}
/* ----- CUSTOM BOX STYLE IN SPECIFIC POSITION ----- */
#jsn-content-top div[class*=box-].jsn-modulecontainer,
#jsn-content-top div[class*=box-].jsn-modulecontainer h3.jsn-moduletitle {
	color: #fff;
}
div.box-grey-promo,
#jsn-content-top div.box-grey-promo {
	color: #ff0000;
}
div.box-grey-promo h3.jsn-moduletitle,
#jsn-content-top div.box-grey-promo h3.jsn-moduletitle {
	color: #00F;
}
div.box-jaune,
#jsn-content-top div.box-jaune {
	color: #008e4f;
	background: #fffbed url(../images/module-styles/module-box-jaune.png) no-repeat center; 
	background-size: cover; /* version standardisée */
}
div.box-jaune h3.jsn-moduletitle,
#jsn-content-top div.box-jaune h3.jsn-moduletitle {
	color: #008e4f;
	font-size: 2.0em;
}
div.box-vert,
#jsn-content-top div.box-vert {
	color: #042968;
	background: #d8eadb url(../images/module-styles/module-box-vert.png) no-repeat center;
	background-size: cover; /* version standardisée */
}
div.box-vert h3.jsn-moduletitle,
#jsn-content-top div.box-vert h3.jsn-moduletitle {
	color: #042968;
	font-size: 2.0em;
}
div.box-bleu,
#jsn-content-top div.box-bleu {
	color: #042968;
	background: #c9c8db url(../images/module-styles/module-box-bleu.png) no-repeat center; 
	background-size: cover; /* version standardisée */
}
div.box-bleu h3.jsn-moduletitle,
#jsn-content-top div.box-bleu h3.jsn-moduletitle {
	color: #008e4f;
	font-size: 2.0em;
}
/* ----- CSS LIST WITH TABLE BEHAVIOR STYLE ----- */
div.jsn-infolist-table ul {
	list-style-type: none;
	margin: 0;
}
div.jsn-infolist-table ul.sectionheader {
	background-color: #366999;
}
div.jsn-infolist-table ul.sectionentry1,
div.jsn-infolist-table ul.sectionentry2 {
	border-bottom: 1px solid #E5E5E5;
}
div.jsn-infolist-table ul li {
	float: left;
	margin: 0;
}
div.jsn-infolist-table ul li a,
div.jsn-infolist-table ul li span {
	padding: 5px 8px;
	display: block;
	font-size: 1.1em;
}
div.jsn-infolist-table ul.sectionheader li a,
div.jsn-infolist-table ul.sectionheader li span {
	color: #fff;
	font-weight: bold;
	padding: 10px 8px;
	text-decoration: underline;
}
div.jsn-infolist-table ul.sectionheader li span,
div.jsn-infolist-table ul.sectionheader li a:hover {
	text-decoration: none;
}
div.jsn-infolist-table ul.sectionheader li a img {
	vertical-align: baseline;
	padding-left: 5px;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading {
	font-size: 2.9em;
	margin-top: 10px;
	margin-bottom: 25px;
	font-weight: normal;
	text-align: center;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
/* ----- TOOLTIPS ----- */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}
.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.tool-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin: 0.3em 0;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	margin-bottom: .6em;
	background-color: #fffbed;
	position: relative;
	min-height: 28px;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 0.3em 0;
}
.author,
.createdate {
	padding-left: 0px;
	margin: 5px 0;
	color: #008e4f;
	font-size: 0.9em;
}
.author {
	background: url(../images/icons/icons-base.png) no-repeat 0 0;
}
.createdate {
	/*background: url(../images/icons/icons-base.png) no-repeat 0 -86px;*/
}
.modifydate {
	margin: 5px 0 5px 10px;
	text-align: right;
	color: #008e4f;
	font-style: italic;
	font-size: 0.9em;
}
/* ----- 3 BUTTON PDF, PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	float: right;
	margin: 0;
	padding: 6px;
	list-style: none;
}
ul.jsn-article-tools li {
	margin: 0 0 0 10px;
	float: left;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li.jsn-article-icon-edit a {
	background: none;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a.jsn-article-pdf-button {
	background-position: 0 -602px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
/* ----- READ MORE ----- */
a.readon {
	padding: 3px 6px;
	color: #008e4f;
	border: 1px solid #008e4f;
	background: #d8eadb;
}
a.readon:hover {
	background-color: #d8eadb;
	text-decoration: underline;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
span.article_separator {
	display: block;
	height: 0.5em;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
div.fredcouche{
	background: url(../images/fred_couche.png) 98% 100% no-repeat;
}

/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	background-color:#d8eadb;
	border: 1px solid #008e4f;
	padding: 0.2em 1em;
	margin: 0 0 1em 0;
}
/* PAGE PAGINATION */
ul.jsn-pagination {
	list-style-type: none;
	text-transform: uppercase;
}
ul.jsn-pagination li {
	display: inline;
	margin: 0;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 3px 8px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #999;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 4px 9px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 0.9em;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.contentdescription {
	padding: .5em 0;
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 5px 8px;
	font-weight: bold;
	font-size: 1.1em;
	color: #042968;
}
.sectiontableheader img {
	margin: 0;
	vertical-align: text-top;
}
.sectiontableheader a {
	color: #042968;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	text-decoration: none;
}
/* CSS LIST WITH TABLE BEHAVIOR STYLE IN CATEGORY TABLE PAGE */
div.jsn-infolist-table ul li.item-order-entry {
	width: 5%;
	text-align: right;
}
div.jsn-infolist-table ul li.item-title-entry {
	width: 45%;
}
div.jsn-infolist-table ul li.item-date-entry {
	width: 25%;
	float: right;
}
div.jsn-infolist-table ul li.item-author-entry {
	width: 20%;
	float: right;
}
div.jsn-infolist-table ul li.item-hits-entry {
	width: 5%;
	float: right;
}
/* TABLE FILTER */
.jsn-infofilter {
	padding: 0.6em 0;
	text-align: right;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW 1 */
tr.sectiontableentry1 td {
	padding: 5px 8px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/* TABLE'S ROW 2 */
tr.sectiontableentry2 td {
	padding: 5px 8px;
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- CONTACT CATEGORY LAYOUT ----- */
/* CSS LIST WITH TABLE BEHAVIOR STYLE IN CONTACT CATEGORY LAYOUT PAGE */
div.jsn-infolist-table ul li.item-user-order-entry {
	width: 5%;
	text-align: right;
}
div.jsn-infolist-table ul li.item-user-name-entry {
	width: 15%;
}
div.jsn-infolist-table ul li.item-user-position-entry,
div.jsn-infolist-table ul li.item-user-phone-entry,
div.jsn-infolist-table ul li.item-user-mobile-entry,
div.jsn-infolist-table ul li.item-user-fax-entry {
	width: 15%;
	float: right;
}
div.jsn-infolist-table ul li.item-user-email-entry {
	width: 20%;
	float: right;
}
/* ----- STANDARD CONTACT LAYOUT - CONTACT FORM INPUT BOXES ----- */
input#contact_name,
input#contact_email,
input#contact_subject,
#contact_text {
	display: block;
}
/* =============== JOOMLA! EXTENSIONS - COM_POLL =============== */
/* ----- POOL RESULT FOR EACH ANSWER ----- */
table.pollstableborder tr.sectiontableentry0 td {
	background-color: #f2f2f2;
	padding: .5em .8em;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: none;
	padding: .5em .8em;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	vertical-align: text-top;
	margin: 0 0 0 5px;
}
div.com-search #searchForm .search-keyword label,
div.com-search #searchForm .search-ordering label,
div.com-search #searchForm .search-field-title {
	float: left;
	text-align: right;
	width: 95px;
	line-height: 21px;
	padding-right: 3px;
}
div.com-search #searchForm .search-ordering select {
	padding: 2px 0;
}
div.com-search #searchForm .search-range label {
	line-height: 21px;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
div.com-user table.jsn-formtable label {
	display: block;
	width: 150px;
}
table .paramlist_key {
	width: 130px;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message {
	margin-bottom: 20px;
}
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #d8eadb url(../../system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	color: #cc0000;
	background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs {
	font-size: 0.9em;
	display: block;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #404040;
	background: url(../images/icons/icons-arrow.png) no-repeat right -258px;
	padding-right: 18px;
	text-decoration: none;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	color: #404040;
	font-weight: bold;
	background: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
	border : 1px solid #008e4f;
}
#form-login #form-login-username,
#form-login #form-login-password,
#form-login #form-login-remember {
	margin: 0 0 6px 0;
}
/* =============== JOOMLA! EXTENSIONS - MOD_POLL =============== */
/* ----- POLL'S TABLE ----- */
table.poll td,
table[class*=box-].jsn-modulecontainer td {
	text-align: left;
}
table.pollstableborder {
	margin: .5em 0;
	text-align: left;
}
table.pollstableborder td {
	text-align: left;
	font-size: .9em;
	padding: 3px 2px;
	border: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search {
	float: right;
}
#jsn-pos-top div.search input#mod_search_searchword {
	background: url(../images/icons/icons-base.png) no-repeat 5px -170px;
	padding: 2px 0 2px 25px;
	border: 1px solid #284D73;
}
/* =============== JOOMLA! EXTENSIONS - MOD_NEWSFLASH =============== */
#jsn-master .jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}