/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/
/* ============================== DEFAULT HTML ============================== */
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background-color: #c9c8db;
	
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-pos-promo-left a,
#jsn-pos-promo-right a {
	color: #40afff;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul {
	background-color: #284d73;
}
body.jsn-mmtransparency #jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul {
	background: url(../images/colors/blue/bg-mainmenu.html);
}
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-top: 1px solid #366999;
	border-bottom: 1px solid #162c40;
	border-left: 1px solid #162c40;
}
body.jsn-direction-rtl #jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-left: none;
	border-right: 1px solid #162c40;
}
/* ----- HOVER STATE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover a {
	border-top-color: #1f3d59;
	background-color: #1f3d59;
}
/* ----- CLEAR HOVER STATE ----- */
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li li li li:hover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover ul a,
#jsn-pos-mainmenu div.jsn-modulecontainer ul.menu-mainmenu li.sfhover li.sfhover li.sfhover li.sfhover ul a {
	border-top-color: #366999;
	background-color: transparent;
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- MODULE BOX GREY ----- */
div.box-grey a {
	color: #40afff;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #4786BE;
}